.class-room-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 252, 252);
    padding: 20px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  h1 {
    align-items: center;
    color: #dda610;
    font-size: 40px; 
    font-family: 'Roboto', sans-serif;
  }
  
  h3 {
    align-items: center;
    color:#3bb19b;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h4 {
    color: rgb(5, 110, 5);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style-type: none;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }

  .buttons-container button:nth-child(1) {
    background-color: rgb(65, 141, 65);
  }
  
  .buttons-container button:nth-child(2) {
    background-color: rgb(65, 141, 65);
  }
  .buttons-container button:nth-child(3) {
    background-color: rgb(65, 141, 65);
  }
  .buttons-container button:nth-child(4) {
    background-color: rgb(65, 141, 65);
  }
  .buttons-container button {
    color: white;
    margin: 5px 15px;
  }

  .closeButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
  }